<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">CarQuest</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                  </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center gap-4 mx-4">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-success"> Dashboard </a>
                    <a href="{% url 'logout' %}" class="btn btn-success"> Log Out </a>
                    {% else %}
                    <a href="{% url 'registartion' %}" class="btn btn-success"> Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-success"> Log In</a>
                    {% endif %}
                </div>
              </div>
            </div>
        </nav>  
    </section>
    <section>
      {% for i in messages %}
        <div class="d-flex justify-content-center align-items-center">
          <div class="alert alert-{{ i.tags }} alert-dismissible fade show text-center w-25" role="alert">
            {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    </section>
    {% block content %}



    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>